//font-family: 'Open Sans', sans-serif;
//font-family: 'Quicksand', sans-serif;

*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 2.5rem 0 1rem;
}

.App {
  text-align: center;
}

.note-wrapper {
  background-color: #d5d5d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  text-align: left;
  margin: 0 4.7rem 3.7rem;
}

.inner-wrapper{
  width: 50rem;
  background: #f2f2f2;
  color: #343433;
  font-size: 4.5rem;
  border-radius: 1rem;
  box-shadow: -10px 10px 2px 0px rgba(0,0,0,0.17);
}

.item-wrapper{
  display: flex;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;

  input, textarea, select, button{
    font-family: 'Open Sans', sans-serif;
  }


  > div {
    width: 100%;
    border-bottom: 1px solid #b4daff;
    padding-bottom: 0.8rem;
  }

  .checkbox{
    position: relative;
    width: 2rem;
    height: 2rem;

    input{
      opacity: 0;
    }

    .fake-box{
      width: 100%;
      height: 100%;
      position: absolute;
      border: 2px solid #484848;
      left: 0;
      top: 1rem;
    }
  }

  .field-wrapper{
    input{
      background: transparent;
      border: none;
      padding: 0 1.4rem;
      font-size: 2rem;
    }
  }
}

.input-block{
  font-size: 2.5rem;

  &.empty{
    color: #ababab;
  }
}

.button{
  cursor: pointer;
}
