//font-family: 'Open Sans', sans-serif;
//font-family: 'Quicksand', sans-serif;
@import './mixins';

*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 2.5rem 0 1rem;
}

.App {
  text-align: center;
}

.note-wrapper {
  background-color: #d5d5d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  text-align: left;
  margin: 0 4.7rem 3.7rem;
}

.inner-wrapper{
  width: 50rem;
  background: #f2f2f2;
  color: #343433;
  font-size: 4.5rem;
  border-radius: 1rem;
  box-shadow: -10px 10px 2px 0px rgba(0,0,0,0.17);
}

.item-wrapper{
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;

  input, textarea, select, button{
    font-family: 'Open Sans', sans-serif;
  }

  .draggable{
    margin-right: 1.5rem;
    width: 1rem;
    height: 1rem;

    svg{
      width: 100%;
      height: 100%;
      display: block;
      @include transHover;
      cursor: grab;
    }

  }


  > div {
    width: 100%;
    border-bottom: 1px solid #b4daff;
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
  }

  .checkbox{
    position: relative;
    width: 2rem;
    height: 2rem;

    input{
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      cursor: pointer;
      z-index: 1;
    }

    .fake-box{
      width: 100%;
      height: 100%;
      display: block;
      border: 2px solid #484848;

      svg{
        width: 100%;
        height: 100%;
        display: block;
        padding: 0.3rem;
        transition: all 0.2s;
        opacity: 0;
      }
    }
  }

  .field-wrapper{
    input{
      background: transparent;
      border: none;
      padding: 0 1.4rem;
      font-size: 2rem;
      outline:none;
    }
  }

  .remove{
    background: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
    @include transHover;
  }

  .add{
    margin-left: auto;
    width: 2rem;

    svg{
      width: 100%;
      color: #484848;
      @include transHover;
    }
  }
}

.input-block{
  font-size: 2.5rem;
  margin-top: 2rem;

  &.checked{
    color: #737370;
    .item-wrapper{
      .checkbox {
        .fake-box{
          border-color: #737370;

          svg{
            opacity: 1;
          }
        }
      }

      .field-wrapper{
        input{
          color: #737370;
          font-style: italic;
        }
      }
    }
  }
}

.empty{
  color: #ababab;
  padding-left: 2.5rem;

  .fake-checkbox{
    width: 2rem;
    height: 2rem;
    border: 2px solid #dbdbdb;
  }

  input{
    width: 100%;
    margin: 0 1rem;
    font-size: 2rem;
    background: transparent;
    border: none;
    outline: none;

    @include placeholder{
      color: #666666 !important;
    }
  }

  .item-wrapper {
    border-bottom: 1px solid #b4daff;

    div{
      border: none;
    }
  }
}

.button{
  cursor: pointer;
}
